<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>420336605419-35o42ft1j2vlfn0c834h0lthnd5obecj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420336605419-35o42ft1j2vlfn0c834h0lthnd5obecj</string>
	<key>API_KEY</key>
	<string>AIzaSyAxB13Uhir8FK-Qa4c7bUWcw1MfSquiP0s</string>
	<key>GCM_SENDER_ID</key>
	<string>420336605419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenlabs.VeganApp</string>
	<key>PROJECT_ID</key>
	<string>vegan-app-6ad4c</string>
	<key>STORAGE_BUCKET</key>
	<string>vegan-app-6ad4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420336605419:ios:b00f3ccd1cf2d780</string>
	<key>DATABASE_URL</key>
	<string>https://vegan-app-6ad4c.firebaseio.com</string>
</dict>
</plist>